@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    
    --background-hex: #EEF5F6;

    --highlight: 150 60% 50%;
    --contrast: 0 0% 0%;

    --background: 0 0% 95%;
    --foreground: 0 0% 0%;

    --card: 0 0% 95%;
    --card-foreground: 0 0% 20%;
 
    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 20%;
 
    --primary: 150 60% 50%;
    --primary-foreground: 0 0% 10%;
 
    --secondary: 0 0% 85%;
    --secondary-foreground: 0 0% 20%;
 
    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 50%;
 
    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 30%;
 
    --destructive: 0 62.8% 55%;
    --destructive-foreground: 60 9.1% 97.8%;

    --warning: 46 96% 47%;
    --warning-foreground: 60 9.1% 97.8%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 150 60% 50%;
 
    --radius: 0.5rem;
    --tab: 0 0% 85%;
  }
 
  .dark {
    
    --background-hex: #141D1F;

    --highlight: 150 60% 50%;
    --contrast: 0 0% 100%;
    
    --background: 190 20% 10%;
    --foreground: 190 20% 95%;
 
    --card: 190 20% 10%;
    --card-foreground: 190 20% 95%;
 
    --popover: 190 20% 10%;
    --popover-foreground: 190 20% 95%;
 
    --primary: 150 60% 50%;
    --primary-foreground: 180 50% 95%;
 
    --secondary: 180 30% 20%;
    --secondary-foreground: 180 50% 90%;
 
    --muted: 180 20% 13%;
    --muted-foreground: 190 20% 60%;
 
    --accent: 180 20% 15%;
    --accent-foreground: 190 20% 60%;
 
    --destructive: 0 62.8% 50%;
    --destructive-foreground: 60 9.1% 97.8%;

    --warning: 46 96% 53%;
    --warning-foreground: 60 9.1% 97.8%;

    --border: 180 30% 20%;
    --input: 180 30% 20%;
    --ring: 150 60% 50%;
    --tab: 190 20% 10%;
    /* --ring: 190 20% 30%; */
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


/* Custom CSS */
.scroll-area-container {
  position: relative;
  overflow: hidden; /* Ensure child gradient doesn't overflow */
}
.scroll-area-container::before,
.scroll-area-container::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  pointer-events: none; 
  z-index: 1; 
  background: linear-gradient(var(--background-hex), rgba(255, 255, 255, 0));
}
.scroll-area-container::before {
  top: 0;
}
.scroll-area-container::after {
  bottom: 0;
  transform: rotate(180deg); /* Flip gradient for bottom */
}
.scroll-area-container .ScrollArea {
  position: relative;
  z-index: 2; /* Ensure ScrollArea is above gradient */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
  
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

/* Added css to fix select component causing a shift in layout */

body[data-scroll-locked]{
  min-width: 100%;
}

html {
  overflow-x: hidden;
} 

.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  background-image: url("/src/assets/fade-stagger-circles.svg");
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-size: 150px;
}

/* CSS for System Backup */
@layer components {
  .diffs {
    @apply flex flex-col;
  }

  .diffs > .light {
    @apply bg-card;
  }

  .diffs > .dark {
    @apply bg-[#141d1f];
  }
  
  .doc {
    @apply border-0 rounded p-2 flex flex-col gap-y-3 drop-shadow-lg;
  }

  .tab {
    @apply flex justify-center px-4 py-1 hover:text-primary cursor-pointer transition-colors duration-300 ease-in-out;
  }

  .doc .diff-tag {
    @apply w-fit h-fit px-2 py-1 border-0 rounded-lg flex justify-center font-sans font-bold text-xs text-nowrap text-white;
  }

  .doc .doc-info {
    @apply flex flex-col gap-y-0;
  }

  .doc.light {
    @apply border border-[#dde1e3];
  }

  .doc.dark {
    @apply bg-[#334043];
  }

  .doc .doc-info.selected {
    @apply border border-[#4C96A7] rounded; 
    box-shadow: 0px 0px 1px 2px rgba(81, 195, 221, 0.25);

  }

  .doc-info .source {
    @apply p-2 border-0 rounded-t font-semibold;
  }

  .doc-info .source.new {
    @apply bg-[#6d6c6c];
  }

  .doc-info .source.changed {
    @apply flex gap-x-2 items-center cursor-pointer;
  }

  .doc-info .source.changed.current {
    @apply bg-[#cd7169];
  }

  .doc-info .source.changed.backup {
    @apply bg-[#549a59];
  }

  .source.changed .radio {
    @apply h-5 w-5 border-2 rounded-full bg-white flex justify-center items-center;
  }

  .source.changed .selected {
    @apply border-[#5e5454];
  }

  .radio.selected > div {
    @apply h-[10px] w-[10px] border-0 rounded-full border-[#5e5454] bg-[#5e5454];
  }

  .source.changed .unselected {
    @apply border-[#bbbbbb];
  }

  .doc-info .fields {
    @apply flex flex-col gap-x-2 p-2 border-0 rounded-b font-mono;
  }

  .doc-info .fields.light {
    @apply border border-[#dde1e3] bg-card;
  }

  .doc-info .fields.dark {
    @apply border-0 bg-[#141d1f];
  }

  .doc-info.details.radio {
    @apply h-5 w-5 border-2 rounded-full bg-white flex justify-center items-center;
  }

  .doc-info.details.radio.selected {
    @apply border-[#5e5454];
  }

  .doc-info.details.radio.selected .selected-inner {
    @apply h-[10px] w-[10px] border-0 rounded-full border-[#5e5454] bg-[#5e5454]
  }

  .doc-info.details.radio.unselected {
    @apply border-[#bbbbbb];
  }

  .doc-info.fields {
    @apply flex flex-col gap-x-2 p-2 rounded-b font-mono;
  }

  /* Warning alert component*/
  .warning-alert {
    @apply text-[#675211] bg-[#F1EBDF] !important;
  }

}